*{
	
	margin:0;
	padding:0;
}

body{
	padding-top: 100px;
}

header{
	padding-bottom: 15px; 
	background-color: #bcd;
}


#input_pesquisa{
	border: none;
}

#form_pesquisa{
	padding-left: 5px;
	padding-right: 5px;
}

#botao_sair_modal:hover{
	color: red;
}

#form_modal_login{
	margin-top: 40px;
	margin-bottom: 20px;
}


#conteudo_principal_pag_cadast_cliente{
	margin-top: 15px;
	margin-bottom: 50px;
}

legend{
	font-size: 40px;
	color: #777;
	font-family: "AR CHRISTY";
	margin-bottom: 40px;
}

#div_info_endereco{
	margin-top: 70px;
}

#div_botoes_form_info{
	margin-top: 45px;
}


.div_resultado_busca_exerno{
	//background-color: #f00;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.div_resultado_busca_interno{
	background-color: #f5f5f5;
	height: 290px;
	padding: 15px;
	//border: 1px solid black;
}

.img_resultado_pesquisa{
	width: 170px;
	height: 170px;
	margin-left: 35px;
	margin-bottom: 7px;
}

#btn_add_carrinho{
	margin-left: 35px;
}


.div_resultado_busca_carrinho{
	background-color: #f5f5f5;
	height: 130px;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	//border: 1px solid black;
}

.img_carrinho{
	width: 100px;
	height: 100px;
	margin-left: 20px;
}