*{
	margin:0;
	padding:0;
}

body{
	padding-top: 115px;
}

header{ 
	background-image: linear-gradient(to bottom, RGB(000, 225, 253), RGB(000, 105, 183) 90%);
}

footer{
	margin-top: 50px;
}

#conteudo{
	min-height: 421px;
}

#input_pesquisa{
	border: none;
}

#form_pesquisa{
	padding-left: 5px;
	padding-right: 5px;
}

#botao_sair_modal:hover{
	color: red;
}

#form_modal_login{
	margin-top: 40px;
	margin-bottom: 20px;
}


#div_imagens_index{
	height: 400px;
	background-image: url('img/bmw.jpg'); 
	background-size: 100% 100%;
	margin-bottom: 25px;
}
	
	
#conteudo_principal_pag_cadast_cliente{
	margin-top: 15px;
	margin-bottom: 50px;
}

legend{
	font-size: 40px;
	color: #777;
	font-family: "AR CHRISTY";
	margin-bottom: 40px;
}

#div_info_endereco{
	margin-top: 70px;
}

#div_botoes_form_info{
	margin-top: 45px;
}


.div_resultado_busca_exerno{
	//background-color: #f00;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.div_resultado_busca_interno{
	background-color: #f5f5f5;
	height: 290px;
	padding: 15px;
	box-shadow: 7px 6px 8px #BBB;
	border-radius: 5px 5px 5px 5px;
}

.img_resultado_pesquisa{
	width: 170px;
	height: 170px;
	margin-left: 35px;
	margin-bottom: 7px;
}

#btn_add_carrinho{
	margin-left: 35px;
}


.div_resultado_busca_carrinho{
	background-color: #f5f5f5;
	height: 130px;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	//border: 1px solid black;
}

.img_carrinho{
	width: 100px;
	height: 100px;
	margin-left: 20px;
}

#div_lista{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	border: 1px solid #8AB;
	border-radius: 12px;
	background-color: #f5f5f5;
	
}

.p_item_lista{
	font-size: 10px;
	color: #669;
	vertical-align: middle;
}

#div_lista_pag_pesquisa{
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	background-color: #f5f5f5;
	box-shadow: 10px 5px 8px #BBB;
}


.row_item_menu{
	padding-left: 10px;
	
}

.row_item_menu:hover{
	background-image: linear-gradient(to bottom, RGB(100, 225, 253), RGB(000, 105, 183) 130%);
	border: 1px solid #88F;
	color: green;
}

#menu_pag_cliente{
	background-color: #CCCCFD; 
	min-height: 478px;
	padding-top: 15px;
}